extends layout

block content
  h1 #{title}
  ul
  each article, i in Article
    li.list-group-item
      a(href="/singleArticle/"+user._id+"/"+article._id)= article.title
  br
  h1 Search Article by Username
  form(method='GET', action='/filterbyauthor')
    #form-group
      label Username:
      input.form-control(name='username', type ='text')
    input.btn.btn-primary(type='submit', value='Submit')
  br
