extends layout

block content
  h1= user.username 
  h1 #{title} 
  br
  a(href='/writeArticle/'+user._id) add article
  br
  a(href='/listArticles1/'+user._id) List all Articles
  br
  a(href='/listUsers') List all Users
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  a(href='/editProfile1/'+user._id) Edit My Profile
  br
  a(href='/DeleteProfile/'+user._id) Delete My Blog Account