extends layout

block content
  h1 #{title} by #{author}   
  br  
  ul
   each user, i in users
    if user.username==author
      each article1, i in article
       if(article1.author==author)
        li.list-group-item
         a(href="/singleArticle/"+loggedInUsed._id+'/'+article1._id)= article1.title