extends layout

block content
  h1= article.title
  h5 Written by #{article.author}
  p= article.description
  br
  a(href='/editArticle1/'+article._id) EDIT
  br
  a.delete-article(href='/deletearticle/'+article._id) Delete
  br
  a(href='/ListComments/'+article._id+'/'+loggedInUser._id) List of comments for this Article
  br
  form(method='POST', action='/commentArticle/'+article._id+'/'+loggedInUser._id)
    #form-group
      label Comment:
      input.form-control(name='comment', type ='text')
    input.btn.btn-primary(type='submit', value='Submit')
  br
  br
